In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np

# Let's read the dataset (training part)

In [2]:
aparts = pd.read_csv('Datasets/appartments_train.csv')

# Task description

In [35]:
# Your task is to apply various ML algorithms (see the rules below) to build a model explaining the prices of appartments based on the training sample and generate predictions for all observations from the test sample.

# The dataset consists of apartment records with the following features:

# unit_id – Unique (and anonymized) identifier for each apartment.
# obj_type – Type of apartment or object (categorical, anonymized).
# dim_m2 – Apartment size in square meters.
# n_rooms – Number of rooms.
# floor_no – The floor on which the apartment is located.
# floor_max – Total number of floors in the building.
# year_built – The year the building was constructed.
# dist_centre – Distance from the apartment to the city center.
# n_poi – Number of points of interest nearby.
# dist_sch – Distance to the nearest school.
# dist_clinic – Distance to the nearest clinic.
# dist_post – Distance to the nearest post office.
# dist_kind – Distance to the nearest kindergarten.
# dist_rest – Distance to the nearest restaurant.
# dist_uni – Distance to the nearest college or university.
# dist_pharma – Distance to the nearest pharmacy.
# own_type – Ownership type (categorical, anonymized).
# build_mat – Building material (categorical, anonymized).
# cond_class – Condition or quality class of the apartment (categorical, anonymized).
# has_park – Whether the apartment has a parking space (boolean).
# has_balcony – Whether the apartment has a balcony (boolean).
# has_lift – Whether the apartment building has an elevator (boolean).
# has_sec – Whether the apartment has security features (boolean).
# has_store – Whether the apartment has a storage room (boolean).
# price_z – Target variable: Apartment price (in appropriate monetary units) to be predicted – only in the training sample
# src_month – Source month (time attribute).
# loc_code – Anonymized location code of the apartment.
# market_volatility – Simulated market fluctuation affecting the apartment price.
# infrastructure_quality – Indicator of the building’s infrastructure quality, partially based on the building’s age.
# neighborhood_crime_rate – Random index simulating local crime rate.
# popularity_index – Randomly generated measure of the apartment’s attractiveness.
# green_space_ratio – Proxy variable representing the amount of nearby green space, inversely related to the distance from the city center.
# estimated_maintenance_cost – Estimated cost of maintaining the apartment, based on its size.
# global_economic_index – Simulated economic index with minor fluctuations across entries, reflecting broader market conditions.

In [3]:
aparts.head()

,unit_id,obj_type,dim_m2,n_rooms,floor_no,floor_max,year_built,dist_centre,n_poi,dist_sch,...,price_z,src_month,loc_code,market_volatility,infrastructure_quality,neighborhood_crime_rate,popularity_index,green_space_ratio,estimated_maintenance_cost,global_economic_index
0,a3a463617a5c0439,0d6c4dfc,45.89,2.0,1.0,4.0,1999.0,13.496,11.0,0.541,...,519626.21,2023-09,693f303c,501710.76,14.02,95.39,44.51,0.999,13.99,100.291946
1,23a92531fcb238b4,0c238f18,27.64,1.0,1.0,2.0,1940.0,2.440,16.0,0.377,...,162959.26,2024-04,8d5a4f0c,147763.87,110.55,46.17,56.25,1.000,7.59,91.315644
2,d158671401f9fc34,0d6c4dfc,62.18,2.0,1.0,2.0,2000.0,10.284,8.0,0.391,...,1167571.51,2023-10,693f303c,1042847.59,31.15,18.94,50.36,0.999,21.14,93.681619
3,280aced4655b7a96,2a6d5c01,53.68,2.0,NaN,4.0,2018.0,10.589,30.0,0.729,...,907071.16,2024-01,693f303c,728839.39,7.52,11.84,46.69,0.999,7.91,94.192062
4,2315fa621e746fe4,2a6d5c01,70.89,3.0,2.0,3.0,2015.0,8.305,7.0,1.226,...,1080383.19,2023-11,693f303c,1263171.15,11.20,89.64,45.60,0.999,8.63,96.166051

In [4]:
aparts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156454 entries, 0 to 156453
Data columns (total 34 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   unit_id                     156454 non-null  object
 1   obj_type                    122634 non-null  object
 2   dim_m2                      156454 non-null  float64
 3   n_rooms                     156454 non-null  float64
 4   floor_no                    128756 non-null  float64
 5   floor_max                   154533 non-null  float64
 6   year_built                  130741 non-null  float64
 7   dist_centre                 156454 non-null  float64
 8   n_poi                       156454 non-null  float64
 9   dist_sch                    156324 non-null  float64
 10  dist_clinic                 155883 non-null  float64
 11  dist_post                   156266 non-null  float64
 12  dist_kind                   156291 non-null  float64
 13  dist_rest                   156063 non-null  float64
 14  dist_uni                    152137 non-null  float64
 15  dist_pharma                 156235 non-null  float64
 16  own_type                    156454 non-null  object
 17  build_mat                   94455 non-null   object
 18  cond_class                  39396 non-null   object
 19  has_park                    156454 non-null  object
 20  has_balcony                 156454 non-null  object
 21  has_lift                    148727 non-null  object
 22  has_sec                     156454 non-null  object
 23  has_store                   156454 non-null  object
 24  price_z                     156454 non-null  float64
 25  src_month                   156454 non-null  object
 26  loc_code                    156454 non-null  object
 27  market_volatility           156454 non-null  float64
 28  infrastructure_quality      130741 non-null  float64
 29  neighborhood_crime_rate     156454 non-null  float64
 30  popularity_index            156454 non-null  float64
 31  green_space_ratio           156454 non-null  float64
 32  estimated_maintenance_cost  156454 non-null  float64
 33  global_economic_index       156454 non-null  float64
dtypes: float64(22), object(12)
memory usage: 40.6+ MB

# Train-test split

In [5]:
# To prevent and minimize to the minimum the risk of data leakage, let's split already the datasets into train and test subsets already
# 'price_z' is the target variable
X = aparts.drop(columns='price_z')  # Features
y = aparts['price_z']               # Target

# Split into training and test sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)
aparts_train = X_train

# Missing values

In [8]:
aparts_train.isnull().sum()

unit_id                           0
obj_type                      26996
dim_m2                            0
n_rooms                           0
floor_no                      22163
floor_max                      1520
year_built                    20642
dist_centre                       0
n_poi                             0
dist_sch                        103
dist_clinic                     439
dist_post                       149
dist_kind                       132
dist_rest                       316
dist_uni                       3379
dist_pharma                     174
own_type                          0
build_mat                     49661
cond_class                    93599
has_park                          0
has_balcony                       0
has_lift                       6177
has_sec                           0
has_store                         0
src_month                         0
loc_code                          0
market_volatility                 0
infrastructure_quality        20642
neighborhood_crime_rate           0
popularity_index                  0
green_space_ratio                 0
estimated_maintenance_cost        0
global_economic_index             0
dtype: int64

In [41]:
# We can distinguish two types of the variables with missing values. The ones that have relatively fewer nulls e.g. dist_uni with 3379 missing
# values, but also the variables with meaningfully higher share of missings values e.g. cond_clas with almost 94k nulls

Smaller nulls

In [9]:
# Let's see the descriptive stats for the smaller_nulls
smaller_nulls = ['floor_max','dist_sch','dist_clinic','dist_post','dist_kind','dist_rest','dist_uni','dist_pharma','has_lift']

aparts_train[smaller_nulls].describe()

,floor_max,dist_sch,dist_clinic,dist_post,dist_kind,dist_rest,dist_uni,dist_pharma
count,123643.000000,125060.000000,124724.000000,125014.000000,125031.000000,124847.000000,121784.000000,124989.000000
mean,5.318069,0.412403,0.968878,0.515040,0.367272,0.345083,1.446575,0.357285
std,3.323446,0.466177,0.898894,0.502255,0.447641,0.465697,1.126416,0.459811
min,1.000000,0.002000,0.001000,0.001000,0.001000,0.001000,0.005000,0.001000
25%,3.000000,0.174000,0.353000,0.236000,0.154000,0.112000,0.570000,0.140000
50%,4.000000,0.289000,0.669000,0.391000,0.260000,0.226000,1.111000,0.237000
75%,6.000000,0.469000,1.241000,0.621000,0.420000,0.409000,2.070000,0.407000
max,29.000000,5.718000,5.788000,5.864000,5.795000,5.904000,5.982000,5.752000

In [6]:
# All the distributions are slighlty righ-skewed (mean higher than median). Let's replace the missing values for this variables with median
smaller_nulls_without_lift = ['floor_max','dist_sch','dist_clinic','dist_post','dist_kind','dist_rest','dist_uni','dist_pharma']
aparts_train[smaller_nulls_without_lift] = aparts_train[smaller_nulls_without_lift].apply(lambda x:x.fillna(x.median()))

In [7]:
# Let's randomly fill NaN values in 'has_lift' with 'yes' or 'no'
missing_indices = aparts_train['has_lift'].isnull()

# Generate random choices for the missing values
random_choices = np.random.choice(['yes', 'no'], size=missing_indices.sum())

# Fill the missing values with the random choices
aparts_train.loc[missing_indices, 'has_lift'] = random_choices

# Optionally, you can convert it to a categorical type if needed
aparts_train['has_lift'] = aparts_train['has_lift'].astype('category')

Big nulls

In [8]:
big_nulls = ['obj_type','floor_no','year_built','build_mat','cond_class','infrastructure_quality']

for x in big_nulls:
    print(aparts_train[x].value_counts())
    print('-----------------------------------')

obj_type
0d6c4dfc    58673
2a6d5c01    20662
0c238f18    18832
Name: count, dtype: int64
-----------------------------------
floor_no
1.0     24321
2.0     21681
3.0     21490
4.0     15334
5.0      5907
6.0      3597
7.0      2824
8.0      2157
9.0      1871
10.0     1773
11.0      705
12.0      398
14.0      263
13.0      218
15.0      165
17.0      117
16.0       74
20.0       21
18.0       19
24.0       15
23.0       12
29.0       12
22.0       10
25.0        6
19.0        5
21.0        4
27.0        1
Name: count, dtype: int64
-----------------------------------
year_built
2023.0    6033
2022.0    4952
1980.0    4379
1970.0    4249
1960.0    2839
          ...
1884.0       2
1855.0       1
1861.0       1
1864.0       1
1866.0       1
Name: count, Length: 165, dtype: int64
-----------------------------------
build_mat
7ceffe3b    58669
7f8c00f9    16833
Name: count, dtype: int64
-----------------------------------
cond_class
a2881958    17840
53cced8d    13724
Name: count, dtype: int64
-----------------------------------
infrastructure_quality
0.00      1415
1.45       102
1.44        99
1.39        98
1.07        97
          ...
148.57       1
122.88       1
141.02       1
193.67       1
93.18        1
Name: count, Length: 14525, dtype: int64
-----------------------------------

In [9]:
# For categorical variable that miss a lot of values, let's treat the nulls as a seperate category
big_nulls_cat = ['obj_type','build_mat','cond_class']
for x in big_nulls_cat:
    aparts_train[x] = aparts_train[x].fillna('NULL')

In [10]:
# Now let's see the numeric big nulls
big_nulls_int = ['floor_no','year_built','infrastructure_quality']
aparts_train[big_nulls_int].describe()

            floor_no     year_built  infrastructure_quality
count  103000.000000  104521.000000           104521.000000
mean        3.332194    1985.911654               38.185286
std         2.535186      33.790385               37.007900
min         1.000000    1850.000000                0.000000
25%         2.000000    1967.000000                8.060000
50%         3.000000    1994.000000               27.690000
75%         4.000000    2016.000000               58.270000
max        29.000000    2024.000000              252.720000

In [11]:
# Floor_no and year_built are discrete, so let's replace them with median. Infrastructure quality is right skewed, so let's also replace its missing values with median
aparts_train[['floor_no','infrastructure_quality']] = aparts_train[['floor_no','infrastructure_quality']].apply(lambda x:x.fillna(x.median()))

In [12]:
aparts_train['year_built'] = aparts_train['year_built'].fillna(aparts_train['year_built'].median())

In [17]:
aparts_train.isnull().sum()

unit_id                       0
obj_type                      0
dim_m2                        0
n_rooms                       0
floor_no                      0
floor_max                     0
year_built                    0
dist_centre                   0
n_poi                         0
dist_sch                      0
dist_clinic                   0
dist_post                     0
dist_kind                     0
dist_rest                     0
dist_uni                      0
dist_pharma                   0
own_type                      0
build_mat                     0
cond_class                    0
has_park                      0
has_balcony                   0
has_lift                      0
has_sec                       0
has_store                     0
src_month                     0
loc_code                      0
market_volatility             0
infrastructure_quality        0
neighborhood_crime_rate       0
popularity_index              0
green_space_ratio             0
estimated_maintenance_cost    0
global_economic_index         0
dtype: int64

## Missing values handling is done. Let's change the type of the variables

In [18]:
aparts_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 125163 entries, 96871 to 121958
Data columns (total 33 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   unit_id                     125163 non-null  object
 1   obj_type                    125163 non-null  object
 2   dim_m2                      125163 non-null  float64
 3   n_rooms                     125163 non-null  float64
 4   floor_no                    125163 non-null  float64
 5   floor_max                   125163 non-null  float64
 6   year_built                  125163 non-null  float64
 7   dist_centre                 125163 non-null  float64
 8   n_poi                       125163 non-null  float64
 9   dist_sch                    125163 non-null  float64
 10  dist_clinic                 125163 non-null  float64
 11  dist_post                   125163 non-null  float64
 12  dist_kind                   125163 non-null  float64
 13  dist_rest                   125163 non-null  float64
 14  dist_uni                    125163 non-null  float64
 15  dist_pharma                 125163 non-null  float64
 16  own_type                    125163 non-null  object
 17  build_mat                   125163 non-null  object
 18  cond_class                  125163 non-null  object
 19  has_park                    125163 non-null  object
 20  has_balcony                 125163 non-null  object
 21  has_lift                    125163 non-null  category
 22  has_sec                     125163 non-null  object
 23  has_store                   125163 non-null  object
 24  src_month                   125163 non-null  object
 25  loc_code                    125163 non-null  object
 26  market_volatility           125163 non-null  float64
 27  infrastructure_quality      125163 non-null  float64
 28  neighborhood_crime_rate     125163 non-null  float64
 29  popularity_index            125163 non-null  float64
 30  green_space_ratio           125163 non-null  float64
 31  estimated_maintenance_cost  125163 non-null  float64
 32  global_economic_index       125163 non-null  float64
dtypes: category(1), float64(21), object(11)
memory usage: 31.6+ MB

In [13]:
# Let's drop the varaible unit_id, as it contains uniqeu identifier of an apartment and has no added value for price prediction modelling
aparts_train = aparts_train.drop(columns='unit_id')
# integers
int_cols = ['n_rooms','n_poi','floor_no','floor_max','year_built']
aparts_train[int_cols] = aparts_train[int_cols].astype('Int64') 
# booleans
bool_cols = ['has_park','has_balcony','has_lift','has_sec','has_store']
aparts_train[bool_cols] = aparts_train[bool_cols].apply(lambda s: s.map({'yes': True, 'no': False}))
# categoricals
cat_cols = ['obj_type','own_type','build_mat','cond_class','loc_code']
aparts_train[cat_cols] = aparts_train[cat_cols].astype('category')
# month → datetime
aparts_train['src_month'] = pd.to_datetime(aparts_train['src_month'], format='%Y-%m')

In [20]:
aparts_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 125163 entries, 96871 to 121958
Data columns (total 32 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   obj_type                    125163 non-null  category
 1   dim_m2                      125163 non-null  float64
 2   n_rooms                     125163 non-null  Int64
 3   floor_no                    125163 non-null  Int64
 4   floor_max                   125163 non-null  Int64
 5   year_built                  125163 non-null  Int64
 6   dist_centre                 125163 non-null  float64
 7   n_poi                       125163 non-null  Int64
 8   dist_sch                    125163 non-null  float64
 9   dist_clinic                 125163 non-null  float64
 10  dist_post                   125163 non-null  float64
 11  dist_kind                   125163 non-null  float64
 12  dist_rest                   125163 non-null  float64
 13  dist_uni                    125163 non-null  float64
 14  dist_pharma                 125163 non-null  float64
 15  own_type                    125163 non-null  category
 16  build_mat                   125163 non-null  category
 17  cond_class                  125163 non-null  category
 18  has_park                    125163 non-null  bool
 19  has_balcony                 125163 non-null  bool
 20  has_lift                    125163 non-null  category
 21  has_sec                     125163 non-null  bool
 22  has_store                   125163 non-null  bool
 23  src_month                   125163 non-null  datetime64[ns]
 24  loc_code                    125163 non-null  category
 25  market_volatility           125163 non-null  float64
 26  infrastructure_quality      125163 non-null  float64
 27  neighborhood_crime_rate     125163 non-null  float64
 28  popularity_index            125163 non-null  float64
 29  green_space_ratio           125163 non-null  float64
 30  estimated_maintenance_cost  125163 non-null  float64
 31  global_economic_index       125163 non-null  float64
dtypes: Int64(5), bool(4), category(6), datetime64[ns](1), float64(16)
memory usage: 23.8 MB

In [16]:
aparts_train.isnull().sum()

obj_type                      0
dim_m2                        0
n_rooms                       0
floor_no                      0
floor_max                     0
year_built                    0
dist_centre                   0
n_poi                         0
dist_sch                      0
dist_clinic                   0
dist_post                     0
dist_kind                     0
dist_rest                     0
dist_uni                      0
dist_pharma                   0
own_type                      0
build_mat                     0
cond_class                    0
has_park                      0
has_balcony                   0
has_lift                      0
has_sec                       0
has_store                     0
src_month                     0
loc_code                      0
market_volatility             0
infrastructure_quality        0
neighborhood_crime_rate       0
popularity_index              0
green_space_ratio             0
estimated_maintenance_cost    0
global_economic_index         0
dtype: int64

## Let's save the cleaned datasets to csv files

In [ ]:
# The preprocessed train dataset (without target varaible)
aparts_train.to_csv('Datasets/aparts_train.csv', index=False)

# The test dataset (without taget varaible)
X_test.to_csv('Datasets/aparts_test.csv', index=False)